<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
	crossorigin="anonymous">
<title>Vicky Travels</title>
<link rel="stylesheet" href="Travels.css">
</head>
<body class="body">
	<div class="container1">
		<img src="nature-road.jpg" class="fixed-image1" class="img">
	</div>
	<div>
		<p class="container1">Vicky Travels</p>
	</div>
	<div class="text">
		<p style="font-size: 30px; color: rgba(255, 255, 255, 0.377);">The
			World is Yours</p>
		<h4>Travel AnyWhere You Want</h4>
	</div>
	<div class="container1-main-container1">
		<form class="login-box" action="Travels-backgroung.html">
			<div class="header">
				<h2>Login Page</h2>
			</div>
			<div class="login">
				<div class="form-control1">
					<input type="text" placeholder="Valid User Name" class="tbox1"
						required />
				</div>
				<div class="form-control1">
					<input type="password" placeholder="*********" class="tbox2"
						required />
				</div>
				<div class="form-control1">
					<input type="submit" value="Login Now" class="btn" /> <a href="#"
						class="link">
						<button class="fgt">forgot password</button>
					</a><br>
				</div>
			</div>
		</form>
		<a href="Travels-NewReg.html" class="link" class="a">
			<button>New User Regstration</button>
		</a>
	</div>
</body>
</html>